{% extends 'base.html' %}

{% block body %}
    {% if request.resolver_match.url_name == 'signup' %}
        <h1>회원가입</h1>
    {% else %}
        <h1>로그인</h1>
    {% endif %}
    <form method='post'>
        {% csrf_token %} 
        {{form}}
        <input type="submit">
    </form>
{% endblock %}