{% extends 'base.html' %}

{% block body %}
    <h1>list</h1>
    {% for post in posts %}
        <h3>{{post.user.username}} : {{post.content}}</h3>
        <!-- Q3-3 : 좋아요 갯수출력 -->
        <p>명이 게시물을 좋아합니다.</p>
        <!-- Q3-2 : 좋아요 버튼추가 -->
    {% endfor %}
{% endblock %}